.icon-add {
    background-image: url(../images/0509292.gif) !important;
}

.icon-delete {
    background-image: url(../images/050929331.gif) !important;
}

.icon-edit {
    background-image: url(../images/050929686.gif) !important;
}

.icon-view {
    background-image: url(../images/050929540.gif) !important;
}

/* ---------form----------- */
.icon-form-add {
    background-image: url(../images/05092911.gif) !important;
}

.icon-form-delete {
    background-image: url(../images/05092912.gif) !important;
}

.icon-form-edit {
    background-image: url(../images/05092913.gif) !important;
}

.icon-form-view {
    background-image: url(../images/05092914.gif) !important;
}

/* -------------------- */

/* ---------user----------- */
.icon-user-add {
    background-image: url(../images/050929949.gif) !important;
}

.icon-user-delete {
    background-image: url(../images/050929951.gif) !important;
}

.icon-user-edit {
    background-image: url(../images/050929952.gif) !important;
}

.icon-user-view {
    background-image: url(../images/050929948.gif) !important;
}

/* -------------------- */

/* ---------users----------- */
.icon-users-add {
    background-image: url(../images/050929451.gif) !important;
}

.icon-users-delete {
    background-image: url(../images/050929452.gif) !important;
}

.icon-users-edit {
    background-image: url(../images/050929453.gif) !important;
}

.icon-users-view {
    background-image: url(../images/050929450.gif) !important;
}

/* -------------------- */

/* ---------card----------- */
.icon-card-add {
    background-image: url(../images/050929961.gif) !important;
}

.icon-card-delete {
    background-image: url(../images/050929962.gif) !important;
}

.icon-card-edit {
    background-image: url(../images/050929963.gif) !important;
}

.icon-card-view {
    background-image: url(../images/050929960.gif) !important;
}

/* -------------------- */

/* ---------table----------- */
.icon-table-add {
    background-image: url(../images/050929852.gif) !important;
}

.icon-table-delete {
    background-image: url(../images/050929853.gif) !important;
}

.icon-table-edit {
    background-image: url(../images/050929854.gif) !important;
}

.icon-table-view {
    background-image: url(../images/050929851.gif) !important;
}

.icon-table-exp {
    background-image: url(../images/050929864.gif) !important;
}

.icon-table-imp {
    background-image: url(../images/050929865.gif) !important;
}

.icon-table-conf {
    background-image: url(../images/050929856.gif) !important;
}

.icon-table-tables {
    background-image: url(../images/050929861.gif) !important;
}

.icon-table-link {
    background-image: url(../images/050929860.gif) !important;
}

.icon-table-refresh {
    background-image: url(../images/050929862.gif) !important;
}

.icon-table-compare {
    background-image: url(../images/050929863.gif) !important;
}

.icon-table-save {
    background-image: url(../images/050929866.gif) !important;
}
/* -------------------- */

/* ---------window----------- */
.icon-window-add {
    background-image: url(../images/0509295.gif) !important;
}

.icon-window-warn {
    background-image: url(../images/0509299.gif) !important;
}

.icon-window-edit {
    background-image: url(../images/0509298.gif) !important;
}

.icon-window-view {
    background-image: url(../images/0509294.gif) !important;
}

/* -------------------- */

.icon-search {
    background-image: url(../images/050929991.gif) !important;
}

.icon-save {
    background-image: url(../images/050929333.gif) !important;
}

.icon-save_other {
    background-image: url(../images/050929334.gif) !important;
}

.icon-ok {
    background-image: url(../images/050929934.gif) !important;
}

.icon-cancel {
    background-image: url(../images/050929291.gif) !important;
}

.icon-stop {
    background-image: url(../images/050929839.gif) !important;
}

.icon-menu-node {
    background-image: url(../images/050929438.gif) !important;
}

.icon-menu-leaf {
    background-image: url(../images/050929669.gif) !important;
}

.icon-man {
    background-image: url(../images/050929959.gif) !important;
}

.icon-woman {
    background-image: url(../images/050929958.gif) !important;
}